<div class="wrap" *ngIf="!isLoading">
  <div class="main_thumbnail">
    <div class="cover_name">
      <div class="title">
        <span class="left">Hà Tùng</span>
        <span class="center">&</span>
        <span class="right">Thủy Trịnh</span>
      </div>
      <span class="time">
        13 &nbsp;.&nbsp; 11 &nbsp;.&nbsp; 2022
      </span>
    </div>
  </div>

  <div class="address_info">
    <div class="text_info">
      <span class="text">Chủ Nhật</span>
      <span class="time">13 . 11 . 2022</span>
      <span class="sub_time">(Âm lịch 20 . 10 . 2022)</span>
      <br>
    </div>
    <div class="thumb">
      <img src="./assets/img/nhat_ha.jpg" alt="img" />
    </div>
    <div class="address_text">
      <span>Nhật Hà Wedding & Convention Center</span>
      <span class="text-center">Đường 25/4, phường Bạch Đằng, Hạ Long, Quảng Ninh.</span>
    </div>
  </div>

  <div class="timeline">
    <p class="title_block">Sự kiện</p>
    <div class="wrap_block">
      <div class="block">
        <div class="item_1">
          <img src="./assets/img/wedding-arch.png" alt="weeding arc" />
        </div>
        <div class="item_2">
          <p class="time">09:00 AM</p>
          <p class="text">Ăn hỏi</p>
        </div>
      </div>
      <div class="block">
        <div class="item_1">
          <img src="./assets/img/wine-glasses.png" alt="wine glass" />
        </div>
        <div class="item_2">
          <p class="time">11:00 AM</p>
          <p class="text">Tiệc cưới</p>
        </div>
      </div>
    </div>
  </div>

  <div class="our_story_block">
    <div class="wallpaper"></div>
    <div class="item_block">
      <div class="wrap_thumb">
        <img src="./assets/album/album_ngang.png" atl="album item" />
      </div>
      <div class="our_story">
        <div class="title">
          Đôi lời nhắn nhủ
        </div>
        <div class="content">
          2011 lần đầu gặp nhau, 2022 cùng nhau viết nên câu chuyện hạnh phúc. Mong rằng cuộc sống này đối xử với chúng
          mình
          thiệt nhẹ nhàng và tươi sáng hơn nữa. Chúc cho đôi ta mãi hạnh phúc, mãi yêu nhau như thuở ban đầu ❤️
        </div>
      </div>
    </div>
  </div>

  <div class="album container">
    <p class="title_block">Album</p>
    <div class="wrap">
      <div class="grid-item" *ngFor="let image of images; index as i">
        <img class="grid-image" loading="lazy" [lightbox]="i" [src]="image.data.thumb">
      </div>
    </div>
  </div>

  <div class="maps_info">
    <div class="container">
      <p class="title_block">GG Map dẫn lối bạn đến với chúng tôi</p>
      <div class="wrap_map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1863.0061162023458!2d107.07909357194175!3d20.952023903862475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a583f0f275c1b%3A0x6b05166179015d0d!2zTmjDoCBIw6BuZyBUaeG7h2MgQ8aw4bubaSBOaOG6rXQgSMOg!5e0!3m2!1svi!2s!4v1666845409700!5m2!1svi!2s"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>

</div>
